/* Styling for SEO purposes */
.h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0px;
  padding: 16px 0px 28px 0px;
  color: #484848;
  margin: 0px auto;
  max-width: 90%;
  word-wrap: break-word;
}

.h2 {
  font-family: 'Montserrat',sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0px;
  padding: 20px 0px 20px 0px;
  color: #484848;
  margin: 0px auto;
  max-width: 80%;
  word-wrap: break-word;
}

.service-archive-text {
  text-decoration: none;
}

/* end Styling for SEO purposes */
/* Contact page styling */
#contact-form {
  animation: none !important;
  visibility: visible !important;
}

/* website split content style */
.split-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.split-content.vertical {
  flex-direction: column;
}
.split-content.vertical .half-image {
  width: 100%;
}
.split-content.vertical .half-copy {
  width: 100%;
  padding-bottom: 0;
  padding: 2rem 5% !important;
}
.split-content.align-top {
  align-items: flex-start;
}
.split-content .half-image {
  width: 50%;
  display: flex;
  position: relative;
}
@media screen and (max-width: 768px) {
  .split-content .half-image {
    max-height: 450px;
    overflow: hidden;
    align-items: center;
  }
}
.split-content .half-image img {
  width: 100%;
  height: 100%;
  display: block;
}
.split-content .half-copy {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  text-align: left;
  max-width: 1920px;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .split-content .half-copy {
    margin: 12px 0;
    padding: 2rem 5%;
  }
}
.split-content .half-copy p {
  text-align: left;
  font-size: 0.9rem;
}
.split-content .half-copy h2 {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: normal;
}
.split-content .half-copy h3 {
  font-size: 1.2rem;
  margin-top: 9px !important;
  font-weight: 500;
}
.split-content .half-copy ul, .split-content .half-copy ol {
  padding-left: 20px;
  text-align: left;
  padding: 0;
}
.split-content .half-copy ul li, .split-content .half-copy ol li {
  margin-bottom: .3rem;
  font-size: 1rem;
  font-weight: normal;
}
.split-content .half-copy a {
  font-size: 0.9rem;
  font-weight: normal;
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .split-content {
    flex-direction: column;
  }
  .split-content .half-copy {
    padding: 15px 0;
  }
  .split-content .half-copy ul, .split-content .half-copy ol {
    margin: 10px 0;
  }
  .split-content .half-copy,
  .split-content .half-image {
    width: 100%;
  }
}
/* end */
.block {
  padding: 2.5rem 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .block {
    padding: 3rem 15px;
  }
  .block.split-content {
    padding: 0;
  }
}
.block hr {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.block h2, .block h3 {
  margin-top: 0;
}
.block.intro-copy {
  max-width: 960px;
  margin: auto auto;
}

.cta {
  background-color: #9fa481;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  display: inline-table;
  text-decoration: none;
  width: auto;
  font-family: 'Montserrat',sans-serif;
}

/* Override Some stuff */
.single-subpages {
  background-color: #fff !important;
  padding: 0 !important;
}
@media screen and (max-width: 768px) {
  .single-subpages h1, .single-subpages h2, .single-subpages h3 {
    max-width: 100%;
  }
}
.single-subpages .feature-faq-section > .split-content {
  margin-top: 10px;
}
.single-subpages .feature-faq-section ul {
  padding: 0;
  margin: 20px 0;
}
.single-subpages .feature-faq-section ul li {
  text-align: left;
  padding: 0 20px;
  font-size: .9rem;
  background-position: center left;
}
.single-subpages .feature-faq-section ul li:first-child {
  background-image: url(../images/bullet.png);
}
.single-subpages .split-content h2 {
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
}
.single-subpages .split-content p {
  max-width: 100%;
}
.single-subpages .subpages-cta {
  background-color: #104b7d;
  padding: 2rem 0;
}
.single-subpages .subpages-cta h3 {
  color: #fff;
  padding-top: 0;
}
.single-subpages .bg-white {
  background-color: #fff;
}
.single-subpages .bg-gray {
  background-color: #f0f0f0;
}
.single-subpages .faq {
  padding: 12px 25px;
  margin-top: 15px;
  border: 1px solid #ababab;
  border-radius: 5px;
}
.single-subpages .faq.active > h2 {
  background-image: url(../images/arrow-up-blue.svg);
}
.single-subpages .faq h2, .single-subpages .faq h3 {
  max-width: 100%;
  text-align: left;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0;
}
.single-subpages .faq > h2 {
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 28px;
  padding: 5px 28px 5px 0;
  cursor: pointer;
}
.single-subpages .faq .faq-content {
  margin-top: 15px;
  display: none;
}
.single-subpages .faq .faq-content p {
  max-width: 100%;
  text-align: left;
  padding: 0;
  font-size: .85rem;
  margin-bottom: 10px;
}
.single-subpages .faq .faq-content ul {
  padding: 0;
  margin-bottom: 10px;
}
.single-subpages .faq .faq-content ul li {
  text-align: left;
  padding: 0 20px;
  font-size: .9rem;
  background-position: center left;
}
.single-subpages .faq .faq-content ul li:first-child {
  background-image: url(../images/bullet.png);
}

.single-subpages.employment p {
  max-width: 100%;
}

.single-subpages.employment h2 {
  max-width: 100%;
}
