/*
Theme Name: BTM Lawyers LLP
Theme URI: https://longevitygraphics.com;
Author: Skunkworks Creative Group, Maintained by Longevity Graphics
Author URI: http://skunkworks.ca
Description: BTM - Theme
Version: 1.1
License: GNU General Public License
License URI: license.txt
Tags:
*/





body {
    background-color: #ffffff;
    text-align: center;
    margin: 0px auto;
    /*min-width: 460px; /* Match viewport width */
}




/* HOME FULL HEIGHT STYLES */

html, body {height:100%;}
body {margin:0;padding:0;}

#fillScreen {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    min-height: 700px;
    width: 100%;
}

#makeItScroll {
    position: relative;
    background-color: #f2f4f1;
}




/* WOW ANIMATION INITIAL VISIBILITY */
.wow {
  visibility: hidden;
}



/* YOUTUBE EMBED RESPONSIVE STYLES - MUST USE <div class="video-container">VIDEO HERE</div> */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin: 8px 0px 26px 0px;
    clear: both;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


* {
  -webkit-font-smoothing: antialiased;
}





/* CONTENT STYLES */

:link img {
    border: none;
}

:visited img {
    border: none;
}

a:focus {
    outline:0;
}

a:active,
a:hover {
    outline: 0;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

p img {
    max-width: 100%;
    height: auto;
    padding: 14px 0px 14px 0px;
}

p img.aligncenter {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 0px auto;
}

p img.alignleft {
    max-width: 100%;
    height: auto;
    float: left;
    padding: 0px 20px 20px 0px;
}

p img.alignright {
    max-width: 100%;
    height: auto;
    float: right;
    padding: 0px 0px 20px 20px;
}

div.wp-caption {
    max-width: 100% !important;
    height: auto;
    text-align: center;
    display: block;
    margin: 0px auto;
    padding: 20px 0px 10px 0px;
}

div.wp-caption img {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.wp-caption-text {
    font-size: 13px;
    color: #104b7d;
    border-bottom: 1px solid #fff;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto 30px;
}

.clear {
    content:'';
    display:block;
    clear: both;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #575757;
    line-height: 1.8;
    text-align: center;
    padding: 0px 0px 17px 0px;
    margin: 0px auto;
    max-width: 90%;
}

p a:link, ul li a:link, ol li a:link {text-decoration: none; color: #20639c; font-weight: 700;}
p a:visited, ul li a:visited, ol li a:visited {text-decoration: none; color: #20639c;}
p a:hover, ul li a:hover, ol li a:hover {text-decoration: none; color: #000000; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
p a:active, ul li a:active, ol li a:active {text-decoration: none; color: #20639c;}

#bold {
    font-weight: 700 !important;
}

#accent-colour {
    color: #20639c !important;
}

#tan {
    color: #babea0 !important;
}

#date {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    line-height: 1.8;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px auto -20px auto;
    max-width: 90%;
}

#date-single {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    line-height: 1.8;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px auto;
    max-width: 90%;
}

#category-single {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #9a9a9a;
    line-height: 1.8;
    text-align: center;
    padding: 6px 0px 20px 0px;
    margin: 0px auto;
    max-width: 90%;
}

#category-single a:link {text-decoration: none; color: #9a9a9a; font-weight: 400;}
#category-single a:visited {text-decoration: none; color: #9a9a9a;}
#category-single a:hover {text-decoration: none; color: #000000; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#category-single a:active {text-decoration: none; color: #9a9a9a;}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 16px 0px 28px 0px;
    color: #484848;
    margin: 0px auto;
    max-width: 90%;
    word-wrap: break-word;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 20px 0px 20px 0px;
    color: #484848;
    margin: 0px auto;
    max-width: 80%;
    word-wrap: break-word;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 16px 0px 17px 0px;
    color: #484848;
    margin: 0px auto;
    max-width: 70%;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 14px 0px 17px 0px;
    color: #484848;
    margin: 0px auto;
    max-width: 60%;
}

h2 a:link, h3 a:link {text-decoration: none; color: #484848;}
h2 a:visited, h3 a:visited {text-decoration: none; color: #484848;}
h2 a:hover, h3 a:hover {text-decoration: none; color: #000000; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
h2 a:active, h3 a:active {text-decoration: none; color: #484848;}

ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #575757;
    line-height: 1.7;
    margin: 0px auto 0px auto;
    padding: 0px 15% 24px 15%;
}

ul li {
    padding: 17px 0px 10px 0px;
    list-style-type: none;
    background-image: url('images/bullet.png');
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

ul li:first-child {
    list-style-type: none;
    background-image: none;
}

ol {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #575757;
    line-height: 1.7;
    margin: 0px auto 0px auto;
    padding: 0px 0px 24px 1px;
    max-width: 70%;
}

ol li {
    padding: 10px 0px 6px 0px;
    list-style-position: inside;
    text-align: center;
}

blockquote p {
    max-width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #9fa481;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
}

#button {
    padding: 34px 0px 50px 0px;
    margin: 0px auto;
    text-align: center;
}

#button a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    text-align: center;
    padding: 12px 44px 13px 44px;
    background-color: #104b7d;
    border-radius: 5px;
    display: inline-block;
}

#button a:link {text-decoration: none; color: #ffffff; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#button a:visited {text-decoration: none; color: #ffffff;}
#button a:hover {text-decoration: none; color: #a6b3c4 !important; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#button a:active {text-decoration: none; color: #ffffff;}

.valign-button-icon {
    vertical-align: middle;
    padding: 0px 4px 0px 0px;
}



#divide {
    max-width: 20%;
    margin: 0px auto 38px auto;
    padding: 0px 0px 20px 0px;
    border-bottom: 4px solid #cccccc;
}

#spacer {
    width: 100%;
    margin: 0px auto;
    padding: 40px 0px 0px 0px;
}

/* Coloured pin for google maps */
.fa-map-marker {
color:#fb7164;
}


.left_aligned h2 {
    max-width: 90%;
    text-align: left;
}

.left_aligned, .left_aligned p {
    text-align: left;
}

.left_aligned ul {
    padding: 10px 15% 24px 120px;
}

.left_aligned ul ul {
    padding: 10px 15% 24px 60px;
}

.left_aligned ul li {
    padding: 0px 0px 10px 20px;
    list-style-type: none;
    background-image: url('images/bullet.png');
    background-repeat: no-repeat;
    background-position: left 8px;
    text-align: left;
}

.left_aligned ol li {
    list-style-position: outside;
    text-align: left;
}

/* HEADER STYLES */

.header-home-wrap {
    width: auto;
    min-height: 170px;
    margin: 0px auto;
    position: relative;
}

.header-home {
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.header-internal-wrap {
    width: auto;
    min-height: 143px;
    margin: 0px auto;
    position: relative;
    background-color: #ffffff;
}

.header-internal {
    width: 100%;
    margin: 0px auto;
    position: relative;
}

#logo-home {
    left: 6%;
    top: 35px;
    position: absolute;
}

#logo-home img {
    width: 360px;
}

#logo-internal {
    left: 6%;
    top: 28px;
    position: absolute;
}

#logo-internal img {
    width: 320px;
}

#logo-home a:link,
#logo-internal a:link{
    opacity: 1;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

#logo-home a:hover,
#logo-internal a:hover{
    opacity: 0.8;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}







/* HOME STYLES */

.home-intro-wrap {
    width: 90%;
    text-align: center;
    left: 0px;
    margin: 0px auto;
    right: 0px;
    top: 57%;
    transform: translateY(-57%);
    display: block;
    position: absolute;
}

.home-intro-wrap .mobile-buttons-only {
    display: none;
}

#home-heading-top {
    font-family: 'Montserrat', sans-serif;
    font-size: 82px;
    font-weight: 600;
    text-align: center;
    line-height: 0.9;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0px 0px 26px 0px;
    color: #ffffff;
    margin: 0px auto;
}

#home-heading-bottom {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 0.85;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0px 0px 60px 0px;
    color: #ffffff;
    margin: 0px auto;
}

#home-button {
    text-align: center;
    display: inline-table;
    width: auto;
    padding: 28px 0px 0px 0px;
    margin: 0px auto;
    position: relative;
}

#home-button a,
#internal-button a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 5px;
    height: auto;
}

#internal-button.blue a {
    color: #104b7d !important;
    border: 3px solid #104b7d;
}

#internal-button a {
    width: auto;
    font-size: 18px;
    padding: 15px 22px 17px 22px;
}

#home-button a {
    width: 220px;
    font-size: 22px;
    display: block;
    padding: 15px 22px 15px 22px;
    margin: 0 10px;
}

#home-button a:link,
#internal-button a:link {text-decoration: none; color: #ffffff; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#home-button a:visited,
#internal-button a:visited {text-decoration: none; color: #ffffff;}
#home-button a:hover,
#internal-button a:hover {text-decoration: none; color: #c5c5c5; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#home-button a:active,
#internal-button a:active {text-decoration: none; color: #ffffff;}

.btn-dwn {
    width: 58px;
    height: 40px;
    line-height: 58px;
    margin: 0 0 0 -29px;
    padding: 18px 0px 0px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: rgba(255,255,255,.6);
    background: rgba(0,0,0,.6);
    position: absolute;
    left: 50%;
    bottom: 50px;
    border:0;
}

.btn-dwn:hover {
    color: rgba(255,255,255,1);
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}






/* INTERNAL HEADER IMAGE STYLES */

.service-page-top {
    padding: 4rem 0rem;
}

#pi-subpages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

#pi-subpages .pi-subpage-link {
    font-family: montserrat,sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    color: #104b7d;
    border: 3px solid #104b7d;
    border-radius: 5px;
    padding: .75rem 1rem;
    text-decoration: none;
    margin-bottom: .5rem;
}

#pi-subpages .pi-subpage-link:not(:first-child){
    margin-left: .5rem;
}

#pi-subpages .pi-subpage-link:hover {
    color: #fff;
    background-color: #104b7d;
}

.service-top-banner-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-image-large-wrap {
    background-color: #484848;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 500px;
    padding: 0px;
}


.header-image-service-wrap .heading-ctas, .trademark-banner .heading-ctas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
}

.header-image-service-wrap .fa-lg {
    line-height: unset;
}

.header-image-service-wrap .heading-link, .trademark-banner .heading-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 22px;
    margin: 0 10px;
    margin-bottom: 1rem;
    font-family: montserrat,sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 5px;
    align-items: center;
}

.dark-overlay {
    position: relative;
}

.dark-overlay > * {
    position: relative;
    z-index: 99;
}

.dark-overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
}

.header-image-service-wrap .heading-link:hover, .trademark-banner .heading-link:hover {
    color: #104b7d;
    background-color: #fff;
}

.internal-heading-wrapper .heading-ctas .heading-link:hover {
    color: #c5c5c5;
}

.internal-heading-wrap {
    width: 90%;
    max-width: 900px;
    text-align: center;
    left: 0px;
    margin: 0px auto;
    right: 0px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    z-index: 2;
    position: absolute;
}

#internal-heading-top {
    font-family: 'Montserrat', sans-serif;
    font-size: 66px;
    font-weight: 600;
    text-align: center;
    line-height: 0.9;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0px 0px 26px 0px;
    color: #ffffff;
    margin: 0px auto;
}

#internal-heading-bottom {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0px 0px 60px 0px;
    color: #ffffff;
    margin: 0px auto;
}

.subpage-top {
    padding: 4rem 0rem;
}

#internal-button {
    padding: 34px 0px 40px 0px;
    margin: 0px auto;
}

.header-image-service-wrap {
    background-color: #104b7d;
    text-align: center;
    position: relative;
    padding: 0px;
}


.personal-injury-headings-cta {
    background-color: transparent;
}

.employment-headings-cta {
    background-color: transparent;
}

.header-image-service-wrap .fa-copyright {
    display: inline-block;
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome;
}

.header-image-service-wrap .fa-copyright:before {
    font-size: 2rem;
}

.header-image-service-wrap h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 140px 0px 140px 0px;
    color: #ffffff;
    margin: 0px auto;
    max-width: 100%;
}

.service-button-icon {
    vertical-align: middle;
    padding: 0px 16px 0px 0px;
}

.header-image-wrap {
    background-color: #104b7d;
    text-align: center;
    position: relative;
    padding: 0px 0px 180px 0px !important;
    padding: 0px;
}

.header-image-wrap h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 180px 0px 20px 0px;
    color: #ffffff;
    margin: 0px auto;
    max-width: 100%;
}

.header-image-wrap h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 0px 20px 0px 20px;
    color: #ffffff;
    margin: 0px auto;
    max-width: 100%;
}








/* GENERAL STYLES */

.content-wrap {
    background-color: #f0f0f0;
    text-align: center;
    position: relative;
    padding: 50px 0px 40px 0px;
}

.content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.content-wide {
    max-width: 1100px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.content-wide p {
    max-width: 65%;
}

#blog-index-thumbnail {
    height: 250px;
    overflow: hidden;
    margin: 50px auto 20px auto;
}

#blog-index-thumbnail img {

    min-height: 250px;
}

ul#categories {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #575757;
    line-height: 1.7;
    float: none;
    position: relative;
}

ul#categories li {
    padding: 0px 14px 0px 14px;
    list-style-type: none;
    background-image: url('images/bullet.png');
    background-repeat: no-repeat;
    background-position: 0px 6px;
    text-align: center;
    display: inline;
    float: none;
}






/* TEAM TEASER STYLES */

.team-teaser-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 40px 0px 50px 0px;
}

.team-teaser {
    max-width: 1100px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.team-teaser h1 {
    padding-bottom: 54px;
}

.lawyer-teaser-large {
    width: 45%;
    min-height: 157px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    display: inline-table;
    position: relative;
    vertical-align: text-top;
}

.lawyer-teaser-large #lawyer-teaser-photo {
    width: 31%;
    top: 20px;
    left: 20px;
    text-align: left;
    padding: 0px;
    position: absolute;
}

.lawyer-teaser-large #lawyer-teaser-photo img {
    width: 100%;
    max-width: 157px;
}

.lawyer-teaser-large #lawyer-teaser-photo a:link {opacity: 1; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
.lawyer-teaser-large #lawyer-teaser-photo a:hover {opacity: 0.8; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}

.lawyer-teaser-large #lawyer-teaser-content {
    width: 61%;
    float: right;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.lawyer-teaser-large h2 {
    text-align: left;
    padding: 0px 0px 16px 0px;
    margin: 0px;
    max-width: 100%;
}

.lawyer-teaser-large h2 span {
    font-size: 20px;
    display: block;
    line-height: 1.3;
    color: #8a8f79;
    margin-top: 5px;
}

.lawyer-teaser-large p {
    text-align: left;
    padding: 0px 0px 16px 0px;
    margin: 0px;
    max-width: 100%
}



#lawyer-teaser-content h3 span {
    font-size: 16px;
    display: block;
    line-height: 1.3;
    color: #8a8f79;
    margin-top: 5px;
}


.lawyer-teaser-small {
    width: 22%;
    min-width: 180px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 0px auto;
    display: inline-table;
    position: relative;
    vertical-align: text-top;
}

.lawyer-teaser-small #lawyer-teaser-photo {
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    position: relative;
}

.lawyer-teaser-small #lawyer-teaser-photo img {
    width: 100%;
    max-width: 145px;
}

.lawyer-teaser-small #lawyer-teaser-photo a:link {opacity: 1; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
.lawyer-teaser-small #lawyer-teaser-photo a:hover {opacity: 0.8; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}

.lawyer-teaser-small h4 {
    max-width: 100%;
}

.lawyer-teaser-small h4 span {
    font-size: 14px;
    display: block;
    line-height: 1.3;
    color: #8a8f79;
    margin-top: 5px;
}




/* NEWS STYLES */

.news-teaser-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 20px 0px 80px 0px;
}

.news-teaser {
    max-width: 900px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.news-teaser-box {
    width: 260px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    display: inline-table;
}

.news-teaser-box h3 {
    max-width: 100%;
}

.btn-arrow {
    width: 42px;
    height: 30px;
    line-height: 58px;
    margin: 0 0 0 -29px;
    padding: 14px 0px 0px 2px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: rgba(255,255,255,.6);
    background: rgba(16,75,125,1);
    position: absolute;
    border:0;
}

.btn-arrow:hover {
    color: rgba(255,255,255,1);
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}






/* PERSONAL INJURY TEASER STYLES */

.personal-injury-teaser-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 90px 0px 80px 0px;
}

.personal-injury-teaser {
    max-width: 700px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.personal-injury-teaser h1 {
    padding-bottom: 26px;
}

.personal-injury-teaser p {
    line-height: 1.6;
    font-size: 16px;
}

.personal-injury-teaser #button {
    padding-top: 66px;
}

.pi-consult-button {
    background-color: #104b7d;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px 44px 13px 44px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.pi-consult-button:hover {
    color: #a6b3c4!important;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}






/* SERVICES STYLES */

.services-teaser-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 40px 0px 50px 0px;
}

.services-teaser {
    max-width: 1100px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.services-teaser h1 {
    padding-bottom: 54px;
}

.service-teaser-box {
    width: 300px;
    text-align: center;
    padding: 20px 30px 20px 30px;
    display: inline-table;
}

.service-teaser-icon.icon-text span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.service-teaser-icon {
    width: 155px;
    height: 110px;
    margin: 0px auto;
    padding: 45px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
    color: rgba(255,255,255,1);
    background-image: url('images/practice-area-teaser-bg.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
}

.service-teaser-icon:link {
    color: rgba(255,255,255,1);
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

.service-teaser-icon:hover {
    color: rgba(255,255,255,0.5);
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

.service-teaser-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 14px 0px 17px 0px;
    color: #484848;
    margin: 0px auto;
}






/* CONTACT STYLES */

.contact-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 40px 0px 50px 0px;
}

.contact {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.contact h1 {
    padding-bottom: 16px;
}

.contact p {
    line-height: 1.4;
}

#contact-button-wrap {
    text-align: center;
    margin: 0px auto;
    padding: 50px 20px 35px 20px;
    position: relative;
    display: block;
}

#contact-button-wrap #button {
    text-align: center;
    display: inline-table;
    width: auto;
    margin: 10px auto;
    padding: 0px 16px 0px 16px;
    position: relative;
}







/* TESTIMONIALS STYLES */

.testimonials-wrap {
    background-color: #ddded4;
    text-align: center;
    position: relative;
    padding: 50px 0px 50px 0px;
}

.testimonials {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.testimonial-slider {
    display: block;
}

.testimonial-slider p {
    max-width: 70%;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.8;
    color: #3f3f3f;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
}

.testimonial-slider #testimonial-author {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #80846a;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
}







/* HELP FORM STYLES */

.help-form-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 50px 0px 90px 0px;
}

.help-form {
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 0px 0px 0px;
}

.help-form-box {
    max-width: 560px;
    text-align: center;
    background-color: #EEEFEA;
    padding: 50px 50px 50px 50px;
    display: inline-table;
}







/* CONTACT FORM STYLES */

.contact-form-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 60px 0px 35px 0px;
}

.contact-form {
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 0px 0px 0px;
}

.contact-form-box {
    max-width: 560px;
    text-align: center;
    background-color: #EEEFEA;
    padding: 50px 50px 50px 50px;
    display: inline-table;
}

/* service form style */
.service-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.service-form-wrapper .service-form-left-wrapper {
    flex: 0 0 50%;
}

.service-form-wrapper .service-form-left-wrapper .wpcf7-form-control-wrap:last-child input {
    margin-bottom: 0;
}

.service-form-wrapper .service-form-right-wrapper {
    flex: 0 0 50%;
}

.service-form-wrapper .service-form-right-wrapper select {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.service-form-wrapper .service-form-right-wrapper select option {
    padding: 8px 0px;
}

select {
    width: 80%;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #484848;
    text-align: left;
    width: 80%;
    border: 0px;
    padding: 16px 20px 16px 20px;
    margin: 0px 0px 15px 0px;
    background-color: #ffffff;
}





/* BIO HEADER IMAGE STYLES */

.bio-image-header-wrap {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 0px;
    min-height: 740px;
}

.bio-image-header-bottom-overlay {
    bottom: 0px;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    text-align: center;
    margin: 0px auto;
    padding: 30px 20px 25px 20px;
    position: absolute;
    display: block;
}

#bio-button-wrap {
    text-align: center;
    margin: 0px auto;
    padding: 20px 20px 15px 20px;
    position: relative;
    display: block;
}

#bio-button-wrap #button {
    text-align: center;
    display: inline-table;
    width: auto;
    margin: 0px auto 20px auto;
    padding: 0px 16px 0px 16px;
    position: relative;
}

#bio-button-wrap #button a:link {
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    text-align: center;
    padding: 12px 20px 13px 20px;
    background-color: #104b7d;
    border-radius: 5px;
    display: block;
}

.valign-button-icon-email {
    padding: 0px 4px 0px 0px;
}

.bio-image-header-wrap h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 16px 0px 5px 0px;
    color: #ffffff;
    margin: 0px auto;
    max-width: 90%;
}

.bio-image-header-wrap h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 0px 0px 17px 0px;
    color: #ffffff;
    margin: 0px auto;
    max-width: 70%;
}





/* BIO STYLES */

.bio-social-wrap {
    padding: 0px 0px 36px 0px;
    position: relative;
}

.bio-social-wrap img {
    padding: 0px 12px 0px 12px;
    height: 50px;
}

.bio-social-wrap a:link {opacity: 0.4; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
.bio-social-wrap a:hover {opacity: 0.8; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}

.bio-content .bio-intro p {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
    font-weight: 400;
    color: #575757;
    font-style: italic;
    line-height: 1.7;
    text-align: center;
    padding: 0px 0px 17px 0px;
    margin: 0px auto;
    max-width: 90%;
}

.bio-content ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #575757;
    line-height: 1.7;
    margin: 0px auto 0px auto;
    padding: 0px 0px 24px 1px;
    max-width: 70%;
}

.bio-content ul li {
    padding: 6px 0px 4px 0px;
    list-style-type: none;
    background-image: none;
    text-align: center;
}





/* BIO CONTACT STYLES */

.bio-contact-wrap {
    background-color: #b1b4a1;
    text-align: center;
    position: relative;
    padding: 34px 0px 38px 0px;
}

.bio-contact {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.bio-contact-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.7;
    text-align: center;
    padding: 0px 12px 0px 12px;
    margin: 0px auto;
    display: inline-table;
}

.bio-contact-item a:link {text-decoration: none; color: #ffffff; font-weight: 700;}
.bio-contact-item a:visited {text-decoration: none; color: #ffffff;}
.bio-contact-item a:hover {text-decoration: none; color: #000000; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
.bio-contact-item a:active {text-decoration: none; color: #ffffff;}





/* BIO ASSISTANT STYLES */

.bio-assistant-wrap {
    background-color: #ddded4;
    text-align: center;
    position: relative;
    padding: 24px 0px 30px 0px;
}

.bio-assistant {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 20px 0px 20px;
}

.bio-assistant p a:link {text-decoration: none; color: #575757; font-weight: 400;}
.bio-assistant p a:visited {text-decoration: none; color: #575757;}
.bio-assistant p a:hover {text-decoration: none; color: #000000; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
.bio-assistant p a:active {text-decoration: none; color: #575757;}







/* FORM STYLES */

.internal-service-form {
    margin: auto;
}

.internal-service-form .help-form-box {
    padding: 25px 10px;
    max-width: none;
}

.internal-service-form .help-form-box div.wpcf7 .select-service-label {
    text-align: left;
    width: calc(80% + 30px);
    padding-bottom: 0;
    display:block;
    margin: auto;
}

.internal-service-form input , .internal-service-form select{
    padding: 10px 15px 10px 15px;
}

div.wpcf7 p {
    text-align: center;
    padding: 0px 0px 17px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #484848;
    text-align: left;
    width: 80%;
    border: 0px;
    padding: 16px 20px 16px 20px;
    margin: 0px 0px 15px 0px;
    background-color: #ffffff;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #484848;
    text-align: left;
    width: 80%;
    height: 100px;
    border: 0px;
    padding: 16px 20px 16px 20px;
    margin: 0px 0px 15px 0px;
    background-color: #ffffff;
}

.styled-select {
    width: 300px;
    height: 54px;
    overflow: hidden;
    background-image: url('images/select-arrow.png');
    background-position: right;
    background-repeat: no-repeat;
    border: 12px solid #ffffff;;
    background-color: #f0f0f0;
    text-align: center;
    margin: 28px auto 20px auto;
}

.styled-select select {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #484848;
    text-align: left;
    background: transparent;
    width: 300px;
    padding: 12px;
    border: 0;
    border-radius: 0;
    height: 54px;
    -webkit-appearance: none;
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    text-align: center;
    padding: 12px 44px 13px 44px;
    margin: 16px 0px 0px 0px;
    background-color: #8d1900;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #222222;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: block;
}

div.wpcf7-response-output,
div.wpcf7-validation-errors {
    color: #f00;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 0px;
}


div.wpcf7-mail-sent-ok {
    color: #398f14 !important;
}
div.wpcf7-mail-sent-ok:before {
    content: '\f05d';
    font-family: 'FontAwesome';
    font-size: 24px;
    margin: 0 10px 0 0;
    vertical-align: sub;
}

/* GET A FREE CONSULT FORM (LONGER) */

.free-consult-form input {
    width: auto;
}

.free-consult-form input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    width: 80%;
}



/* PRIMARY NAV STYLES */

.primary-nav-home {
    top: 80px;
    right: 6%;
    position: absolute;
}

.primary-nav-internal {
    top: 66px;
    right: 6%;
    position: absolute;
}

.primary-menu {
    text-align: right;
    display: block;
}

.primary-menu ul#menu-primary-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: right;
    max-width: 100%;
    position: relative;
    z-index: 1000;
}

.primary-menu ul#menu-primary-menu li {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    background-image: none;
}

.primary-menu ul#menu-primary-menu li.menu-item a:link,
.primary-menu ul#menu-primary-menu li.menu-item a:visited {
    color: #656565;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 0px 38px;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

.primary-menu ul#menu-primary-menu li.menu-item a:hover {
    color: #2d2d2d;
    background-color: transparent;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

.primary-menu ul#menu-primary-menu li.current-menu-item a:link,
.primary-menu ul#menu-primary-menu li.current-menu-item a:visited {
    color: #104b7d;
}

.primary-menu ul#menu-primary-menu li.current-menu-item a:hover {
    color: #104b7d;
    background-color: transparent;
}



.primary-nav-home .primary-menu ul#menu-primary-menu li.menu-item a:link,
.primary-nav-home .primary-menu ul#menu-primary-menu li.menu-item a:visited {
    color: #FFFFFF !important;
}

.primary-nav-home .primary-menu ul#menu-primary-menu li.menu-item a:hover {
    color: #c5c5c5 !important;
}







/* FOOTER NAV STYLES */

.footer-nav {
    top: 40px;
    right: 5%;
    position: absolute;
}

.footer-menu {
    text-align: right;
    display: block;
}

.footer-menu ul#menu-footer-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: right;
    max-width: 100%;
    position: relative;
    z-index: 1000;
}

.footer-menu ul#menu-footer-menu li {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    background-image: none;
}

.footer-menu ul#menu-footer-menu li.menu-item a:link,
.footer-menu ul#menu-footer-menu li.menu-item a:visited {
    color: #474a38;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 0px 28px;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

.footer-menu ul#menu-footer-menu li.menu-item a:hover {
    color: #000000;
    background-color: transparent;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}







/* FOOTER STYLES */

.footer-wrap {
    padding: 0px;
    background-color: #9fa481;
    position: relative;
    min-height: 100px;
}

.footer-notice-wrap {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #a6a6a6;
    text-align: center;
    line-height: 1.4;
    padding: 60px 40px 70px 40px;
    background-color: #0c0c0c;
    position: relative;
}

.social-wrap {
    padding: 50px 0px 50px 0px;
    background-color: #ffffff;
    position: relative;
}

.social-wrap img {
    padding: 0px 15px 0px 15px;
    height: 50px;
}

.social-wrap a:link {opacity: 0.4; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
.social-wrap a:hover {opacity: 0.8; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}

#copyright-credit {
    top: 40px;
    left: 4%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #dcddd2;
    text-align: left;
    line-height: 1;
    position: absolute;
}

#copyright-credit a:link {text-decoration: none; color: #dcddd2;}
#copyright-credit a:visited {text-decoration: none; color: #dcddd2;}
#copyright-credit a:hover {text-decoration: none; color: #ffffff; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#copyright-credit a:active {text-decoration: none; color: #dcddd2;}







/* PAGINATION */

.pagination-wrap {
    width: 100%;
    padding: 40px 0px 100px 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 11px;
    line-height: 14px;
    position: relative;
}

.pagination {
    clear: left;
    float: left;
    left: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 11px;
    line-height: 14px;
    position: relative;
}

.pagination span, .pagination a {
    display: block;
    float: left;
    margin: 2px 3px 2px 0px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #858585;
    position: relative;
    right: 50%;
}

.pagination a:hover{
    color: #fff;
    background: #6f6f6f;
}

.pagination .current{
    background-color: #484848;
    color: #fff;
}






/* TESTIMONIALS SLIDER OVERRIDES */

.bx-wrapper ul {
    padding: 0px;
}

.bx-wrapper ul li {
    list-style-type: none;
    background-image: none;
}

.tslider blockquote p {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.8;
    color: #3f3f3f;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
    margin: auto;
}

.tslider blockquote footer,.tslider blockquote footer a {
    display: none;
}

















/* MOBILE STYLES */


@media screen and (min-width: 2000px){

.header-image-large-wrap {
    max-height: 950px;
    /*min-height: 950px;*/
}

}


@media screen and (max-width: 1200px){

#logo-home {
    top: 45px;
    left: 4%;
}

#logo-home img {
    width: 320px;
}

#logo-internal {
    top: 32px;
    left: 4%;
}

#logo-internal img {
    width: 290px;
}

.primary-nav-home {
    right: 4%;
}

.primary-nav-internal {
    right: 4%;
}

.primary-menu ul#menu-primary-menu li.menu-item a:link,
.primary-menu ul#menu-primary-menu li.menu-item a:visited {
    margin: 0px 0px 0px 26px;
}

}


@media screen and (max-width: 1000px){

#fillScreen {
    height: auto;
    min-height: 700px;
    padding-bottom: 190px;
    width: 100%;
}

.home-intro-wrap {
    top: 0;
    transform: none;
    padding: 50px 0px 20px 0px;
    position: relative;
}

#home-heading-top {
    padding: 0px 0px 24px 0px;
}

#home-heading-bottom {
    padding: 0px 0px 40px 0px;
}

#logo-home {
    top: auto;
    left: auto;
    text-align: center;
    padding: 60px 0px 30px 0px;
    position: relative;
    display: block;
}

#logo-home img {
    width: 420px;
}

#logo-internal {
    top: auto;
    left: auto;
    text-align: center;
    padding: 36px 0px 40px 0px;
    position: relative;
    display: block;
}

#logo-internal img {
    width: 320px;
}

.primary-nav-home {
    top: 0;
    right: 0;
    padding: 0px 0px 30px 0px;
    position: relative;
}

.primary-nav-internal {
    top: 0;
    right: 0;
    padding: 0px 0px 30px 0px;
    position: relative;
}

.primary-menu {
    text-align: center;
    display: block;
    width: 95%;
    margin: 0px auto;
}

.primary-menu ul#menu-primary-menu {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    float: none;
    position: relative;
}

.primary-menu ul#menu-primary-menu li {
    display: inline;
    float: none;
}

.primary-menu ul#menu-primary-menu li.menu-item a:link,
.primary-menu ul#menu-primary-menu li.menu-item a:visited {
    margin: 0px 12px 0px 12px;
}

}


@media screen and (max-width: 850px){

.footer-nav {
    top: 0;
    right: 0;
    padding: 40px 0px 0px 0px;
    position: relative;
}

.footer-menu {
    text-align: center;
    display: block;
    width: 80%;
    margin: 0px auto;
}

.footer-menu ul#menu-footer-menu {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    float: none;
    position: relative;
}

.footer-menu ul#menu-footer-menu li {
    display: inline;
    float: none;
}

.footer-menu ul#menu-footer-menu li.menu-item a:link,
.footer-menu ul#menu-footer-menu li.menu-item a:visited {
    margin: 0px 12px 0px 12px;
}

#copyright-credit {
    top: 0;
    left: 0;
    font-size: 12px;
    text-align: center;
    padding: 40px 0px 30px 0px;
    position: relative;
}

.lawyer-teaser-large {
    width: 80%;
}

}


@media screen and (max-width: 600px){

/*#fillScreen { // Mobile style for Dummy homepage
    background-position: 60% top !important;
    padding-bottom: 50px;
    background-image: url(http://btmlawyers.com/wp-content/uploads/2016/06/crash-test-dummy.jpg) !important;
}*/

.btn-dwn {
    display: none;
}

.home-intro-wrap {
    padding-top: 0;
}

#logo-home {
    padding: 40px 0px 40px 0px;
}

#logo-home img {
    width: 320px;
}

.home-intro-wrap .mobile-buttons-only {
    display: block;
}

#home-heading-top {
    font-size: 50px;
    letter-spacing: 0;
}

#home-heading-bottom {
    font-size: 30px;
    letter-spacing: 0;
}

#home-button a {
    padding: 10px 22px 10px 22px;
}

.service-teaser-box {
    width: 175px;
    padding: 20px 10px 20px 10px;
}

.lawyer-teaser-large {
    width: 100%;
    min-height: 130px;
    padding: 0px 0px 20px 0px;
}

.lawyer-teaser-large #lawyer-teaser-photo {
    width: 27%;
    top: 0px;
    left: 20px;
}

.lawyer-teaser-large #lawyer-teaser-content {
    width: 65%;
}

.lawyer-teaser-large p#lawyer-teaser-paragraph {
    display: none;
}

.lawyer-teaser-large h2 {
    font-size: 24px;
    padding: 36px 0px 4px 0px;
}

.header-image-large-wrap {
    max-height: 550px;
    min-height: 550px;
}

.service-form-wrapper .service-form-left-wrapper {
    flex: 0 0 100%;
    margin-bottom: 15px;
}

.service-form-wrapper .service-form-right-wrapper {
    flex: 0 0 100%;
}

.service-form-wrapper .service-form-right-wrapper select {
    min-height: 250px;
}

#internal-heading-top {
    font-size: 32px;
    padding: 0px 0px 36px 0px;
}

.header-image-service-wrap .heading-link, .trademark-banner .heading-link {
    padding: 10px;
    font-size: 16px;
}


#internal-heading-bottom {
    font-size: 22px;
    padding: 0px 0px 60px 0px;
}

#internal-button {
    padding: 14px 0px 40px 0px;
}

.news-teaser-box {
    width: 85%;
    padding: 20px 10px 50px 10px;
}

.bio-image-header-wrap {
    min-height: 600px;
}

.bio-image-header-bottom-overlay {
    padding: 10px 20px 10px 20px;
}

.help-form-box {
  padding: 50px 20px 30px 20px;
}

.contact-form-box {
  padding: 50px 20px 30px 20px;
}

p {
    font-size: 16px;
}

blockquote p {
    max-width: 100%;
}

ul {
    font-size: 16px;
    max-width: 100%;
    padding: 0px 5% 24px 5%;
}

ol {
    font-size: 16px;
}

.bio-content ul {
    font-size: 16px;
    max-width: 90%;
}

.content-wide p {
    max-width: 90%;
}

.bio-contact-item {
    font-size: 16px;
}

ul#categories {
    font-size: 16px;
}

}

.single-subpages ul {
    padding-left: 20px !important;
}

.single-subpages ul li {
  list-style-type: disc;
  padding: 0px;
  background-image: none;
  text-align: left;

}
.single-subpages ul li:first-child {
  list-style-type: disc;
  background-image: none;

}


.no-auto-margin {
    margin: 0px !important; 
}

.single-subpages p {
  font-size: 0.9rem !important;
}
.single-subpages ul li{
  font-size: 0.9rem !important;
}
