body {
	background-color: #ffffff;
}




/* CONTENT STYLES */

:link img {
	border: none;
}

:visited img {
	border: none;
}

a:focus {
    outline:0;
}

a:active,
a:hover {
    outline: 0;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

p img { 
	max-width: 100%;
	height: auto;
}

p img.aligncenter { 
	max-width: 100%;
	height: auto;
	text-align: center;
    display: block;
	margin: 0px auto;
}

p img.alignleft { 
	max-width: 100%;
	height: auto;
    float: left;
	padding: 0px 20px 20px 0px;
}

p img.alignright { 
	max-width: 100%;
	height: auto;
    float: right;
	padding: 0px 0px 20px 20px;
}

div.wp-caption { 
	max-width: 100% !important;
	height: auto;
	text-align: center;
    display: block;
	margin: 0px auto;
	padding: 20px 0px 10px 0px;
}

div.wp-caption img { 
	max-width: 100%;
	height: auto;
	text-align: center;
    display: block;
	margin: 0px auto;
}


p { 
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400; 
	color: #575757;
	line-height: 1.7;
	text-align: center;
	padding: 0px 0px 17px 0px;
	margin: 0px auto;
    max-width: 90%;
}
	
p a:link, ul li a:link, ol li a:link {text-decoration: none; color: #20639c; font-weight: 700;}
p a:visited, ul li a:visited, ol li a:visited {text-decoration: none; color: #20639c;}
p a:hover, ul li a:hover, ol li a:hover {text-decoration: none; color: #000000; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
p a:active, ul li a:active, ol li a:active {text-decoration: none; color: #20639c;}

#bold { 
	font-weight: 700 !important; 
}

#accent-colour { 
	color: #20639c !important;
}

#tan { 
	color: #babea0 !important;
}

h1 { 
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 0px;
	padding: 16px 0px 28px 0px;
    color: #484848;
	margin: 0px auto;
    max-width: 90%;
}

h2 { 
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 0px;
	padding: 20px 0px 20px 0px;
	color: #484848;
	margin: 0px auto;
    max-width: 80%;
}

h3 { 
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 0px;
	padding: 16px 0px 17px 0px;
	color: #484848;
	margin: 0px auto;
    max-width: 70%;
}

h4 { 
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 0px;
	padding: 14px 0px 17px 0px;
	color: #484848;
	margin: 0px auto;
    max-width: 60%;
}
	
ul {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400; 
	color: #575757;
	line-height: 1.7;
	margin: 0px auto 0px auto;
	padding: 0px 0px 24px 1px;
    max-width: 70%;
}
	
ul li {
	padding: 17px 0px 10px 0px;
	list-style-type: none;
	background-image: url('images/bullet.png');
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
}

ul li:first-child {
	list-style-type: none;
	background-image: none;
}

ol {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400; 
	color: #575757;
	line-height: 1.7;
	margin: 0px auto 0px auto;
	padding: 0px 0px 24px 1px;
    max-width: 70%;
}
	
ol li {
	padding: 10px 0px 6px 0px;
    list-style-position: inside;
	text-align: center;
}
	
blockquote p { 
    max-width: 80%;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	color: #9fa481;
	text-align: center;
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
}

#button { 
	padding: 34px 0px 50px 0px;
	margin: 0px auto;
	text-align: center;
}

#button a { 
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	line-height: 1;
	text-align: center;
	padding: 12px 44px 13px 44px;
	background-color: #104b7d;
    border-radius: 5px;
}

#button a:link {text-decoration: none; color: #ffffff; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#button a:visited {text-decoration: none; color: #ffffff;}
#button a:hover {text-decoration: none; color: #a6b3c4 !important; -webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in; -o-transition:all .2s ease-in; transition:all .2s ease-in;}
#button a:active {text-decoration: none; color: #ffffff;}

.valign-button-icon {
    vertical-align: middle; 
    padding: 0px 4px 0px 0px;
}

#divide { 
    max-width: 20%;
	margin: 0px auto 38px auto;
	padding: 0px 0px 20px 0px;
    border-bottom: 4px solid #cccccc;
}